.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.icons {
  /* color: tomato; */
  width: 100px;
  height: 100px;
  padding: 30px;
  /* font-size: 3em; */
}

.icons[data-icon*="twitter"] {
  color: #1da1f2;
}

.icons[data-icon*="facebook"] {
  color: #3b5998;
}

.icons[data-icon*="google"] {
  color: #4285f4;
}

.icons[data-icon*="pinterest"] {
  color: #bd081c;
}

.icons[data-icon*="linkedin"] {
  color: #0077b5;
}

.icons[data-icon*="medium"] {
  color: #00ab6c;
}

.icons[data-icon*="github"] {
  color: #6e5494;
}

.icons[data-icon*="instagram"] {
  color: #f56040;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: tomato;
  border: none;
  /* border: 1px solid black; */
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  margin: 20px;
}

li {
  display: inline-block;
}

.icon-buttons .simpleBrands {
  color: purple;
}

.icon-buttons .squaredBrands {
  color: green;
}

.icon-buttons .circledBrands {
  color: blue;
}

.rectangle {
  width: 180px;
  height: 100px;
  padding-top: 25px;
}

.square {
  width: 100px;
  height: 100px;
  padding-top: 25px;
}

.round {
  border-radius: 30px;
}

.circle {
  border-radius: 50%;
  padding: 25px;
}

.circle-border a {
  color: tomato;
}

.circle-border {
  border-radius: 50%;
  padding: 25px;
  background: white;
  border: 4px solid tomato;
}
